body {
	font-size: 32px;
}

form {
	margin: 0 auto;
	width: 40%;
}

#content {
	padding: 1em 15%;
	background-color: #f7f7ff;
}


div.fieldWithErrors {
    outline: 2px solid #f00;
	height: 38px;
}

#splash {
	height: 150px;
	line-height: 150px; 
	margin: 0 auto; 
	text-align: center;
}

#session_login, #session_password {
	border: 1px solid #ccf;
	width: 150px;
	color: #37f;
}

#session_submit {
	padding: 0 10px;
	background-color: #fff0c3;
	border: 1px outset;
}

a:visited {
	color: #37f;
}
a {
	color: #37f;
	text-decoration: none;
}
input:focus {
	outline: 5px solid #ddf;
}