h1 {
	font-size: 600%;
	text-align: center;
}

h2 {
	text-align: right;
	margin-bottom: 3em;
}

fieldset.post {
	padding: 0 3em;
	padding-bottom: 1em;
}

fieldset {
	background-color: #f7f7ff;
	border: 1px solid #e7e7ff;
}
legend {
	border: 1px solid white;
	padding: 5px;
	margin-left: 60%;
	font-size: 120%;
	background: #e7e7ff;
}

body {
	padding: 0 15%;
	position: relative;
}

#menubar {
	position: absolute;
	right: 0;
	top: 0;
}
