fieldset.post {
	padding: 0 3em;
	padding-bottom: 1em;
}

.post-button {
	float: right;
	height: 50px;
	line-height: 50px;
	width: 10%;
	text-align: center;
}

fieldset {
	background-color: #f7f7ff;
	border: 1px solid #e7e7ff;
}
legend {
	border: 1px solid white;
	padding: 5px;
	margin-left: 60%;
	font-size: 120%;
	background: #e7e7ff;
}

#sidebar h2 {
	padding: 0.5em 0;
}

#sidebar li ul {
	border : 1px solid #ccc;
	margin-left: 0.5em;
}